html.dark {
    --text-color: #ffffff;

    --background-color: #14161A;
    --secondary-color: #181A1F;
    --primary-color: hsl(171, 100%, 41%);
    --link-color: hsl(217, 71%, 53%);
    --info-color: hsl(204, 86%, 53%);
    --success-color: hsl(141, 71%, 48%);
    --warning-color: hsl(48, 100%, 67%);
    --danger-color: hsl(348, 100%, 61%);
}
